

.navbar{
    display: flex;
    background-color: black;
    height: 40px;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
    font-family: sans-serif;
}


.navbar a {
    color: rgb(0, 255, 21);
    text-decoration: none;
}


.navbar a:hover {
    color: crimson;
}

.tagline{ 
    color: orange;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;}


*{  background-color: rgb(46, 46, 46);   
}

img {max-width: 400px;
    height: auto;
    text-align: center;
}

#tagline {
    color:orange;
    font-size: 50px;
    font-family: sans-serif;
    border: none;
    text-align: center;
    }

#aboutme {
    color:orange;
    font-size: 50px;
    font-family: sans-serif;
    border: none;
    text-align: center;
    }

h1{
    color:orange;
    font-size: 50px;
    font-family: sans-serif;
    border: none;
    text-align: center;
    }


h2 {
    color: orange;
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
}


h3 { 
    color:orange;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
}


p {
    color: orange;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}


ul {color: orange;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}


li {color: orange;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
}



